body{
    background-color:aquamarine;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #333;
    line-height: 1.42857143;
    margin: 10px;
}
a{
    color: #333;
    text-decoration: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
img{
    max-width: 100%;
    height: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
   
h1{
    color: red;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-size: 1.1em;
    text-align: center;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
li{
    font-size: 1em;
    text-align: center;
    color: #333;
    font-weight: bold;
}
.nav-link{
    height: 200%;
    width: 200px;
    margin-top: auto;
    margin-bottom: auto;
    display: inline-block;
  
   
}
    
   